@using yourspace.Models
@model LoginAccount

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>

	<title>Login Page</title>
</head>
<body>
	<div class="container">
		<section id="content">
				<h1>Login Form</h1>
				<div>
			
					@using (Html.BeginForm("CheckLogin", "Login", FormMethod.Post))
					{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary(true)

						<span>Enter Your Email:</span> @Html.TextBoxFor(m => m.Email)<br />
						<span>Enter Your Password: </span> @Html.PasswordFor(m => m.Password)<br />

						<input type="submit" value="Log in" />
					}

				</div>
				<div>
					<a href="~/SignUp/Index">Dont have an account? Sign up here</a>
				</div>
				<strong>User Email: </strong> @Html.DisplayFor(m => m.Email)<br />
				<strong>User Password: </strong> @Html.DisplayFor(m => m.Password)<br />
		</section><!-- content -->
	</div><!-- container -->
</body>
</html>


