<!DOCTYPE html>

<html lang="en">
<head>
    <title>Profile Page</title> <!--The <title> tag is required in all HTML documents and it defines the title of the document.-->
    <link type="text/css" rel="stylesheet" href="~/Content/Profile.css" />
</head>
<body>
    <div class="header">
        <h2>Yourspace</h2>
    </div>
    
    <div class="row">
        <div class="col-3 menu">
            <ul>
                
                <img src="~/Content/Images/userPhoto/jonah.jpg" alt="Smiley face" height="200" width="263">
                <br />
                <li><font color="black"><label>Biography: </label> @ViewBag.Bio
                    <p>Senior Software Engineer from LB State, go Sharks!
                    </p>   
                 </font></li>
            </ul>
        </div>

        <div class="col-9">
            <h1>@ViewBag.FirstName @ViewBag.LastName</h1>
            <form action="/action_page.php">
                <!-- Manual spacing for userPost-->
                <span style="padding-left:6em"><input type="text" id="user_post" placeholder="Tell the world what's good!" /></span><br>
            </form>
            <br />
            <!-- Display user's posts from the database-->
            <ul>
                @foreach (var post in ViewBag.postList)
                {
                    <li>@post.TextPost <br /><b>Post Time:</b> @post.PostTime</li>
                }
            </ul>
        </div>
    </div>
</body>

</html>


