@model yourspace.Models.SignUp
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Profile Page</title> <!--The <title> tag is required in all HTML documents and it defines the title of the document.-->
    <link type="text/css" rel="stylesheet" href="~/Content/Profile.css" />
</head>
<body>
    <div class="header">
        <h2>Yourspace</h2>
    </div>

    <div class="row">
        <div class="col-1">
            <ul>

                <img src="~/Content/Images/userPhoto/jonah.jpg" alt="Smiley face" height="200" width="263">
                <br />
                <li>
                    <font color="black">
                        <label>Biography: </label><br /> @ViewBag.Bio
                    </font>
                </li>

            </ul>

            <div>
                @using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post))
                { 
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                
                <input class="btn btn-default" type="submit" value="Edit Profile" />
                }
            </div>
        </div>

        <div class="col-2">
            <h1 style="margin-left: 60px;" id="user_name">@ViewBag.FirstName @ViewBag.LastName</h1>
            <br />
            @using (Html.BeginForm("UserPost", "Profile", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div>
                    @Html.EditorFor(model => model.UserPost, new { htmlAttributes = new { @class = "form-control", placeholder = "Tell the world what's good!" } })
                    @Html.ValidationMessageFor(model => model.UserPost)
                    <input class="btn btn-default" type="submit" value="Create" />
                </div>

            }

            <!--<form action="/action_page.php"> 
                 Manual spacing for userPost 
                <input type="text" id="user_post" style="margin-left: 40px;" placeholder="Tell the world what's good!" />
            </form>
            <br /> -->
            <!-- Display user's posts from the database-->
            <ul>
                @foreach (var post in ViewBag.postList)
                {
                <li>@post.TextPost <br /><br /><p align="right"><b>Post Time:</b>@post.PostTime</p></li>
                }
            </ul>
        </div>
    </div>
</body>

</html>


